<!DOCTYPE html>
<html lang ="ja">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/riot/3.2/riot+compiler.min.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <title><%=title %></title>
  </head>

  <body>
    <header></header>
    <script type="riot/tag" src="tags/header.tag"></script>
    <section class="section">
      <main class="container">
        <div class="columns">
          <div class="column is-2">
            <side-menu></side-menu>
            <script type="riot/tag" src="tags/side-menu.tag"></script>
          </div>
          <div class="column">
            <place-tab></place-tab>
            <script type="riot/tag" src="tags/place-tab.tag"></script>
            <race-data></race-data>
            <script type="riot/tag" src="tags/race-data.tag"></script>
          </div>
        </div>
      </main>
    </section>
    <script>
      var obs = riot.observable();
      riot.mount('header');
      riot.mount('side-menu', { raceDates: '<%= raceDates %>' });
      riot.mount('place-tab');
      riot.mount('race-data');
    </script>
  </body>
</html>
